<h1><%= @restaurant.name %></h1>
<h3><%= @restaurant.address %></h3>
<h3><%= @restaurant.phone_number %></h3>
<h3><%= @restaurant.category %></h3>

<h2>Reviews</h2>
<ul>
  <% @restaurant.reviews.each do |review| %>
  <li><%= review.content %> Rating: <%= review.rating %></li>
  <% end %>
</ul>
<h3>Add a new review for <%= @restaurant.name %></h3>
<%= form_for [@restaurant, @review] do |f| %>
  <div class="form-group">
    <%= f.label :content %>
    <%= f.text_field :content, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :rating %>
    <%= f.number_field :rating, class: 'form-control' %>
  </div>

  <%= f.submit class: 'btn btn-primary' %>
<% end %>
<%= link_to "Back to all restaurants", restaurants_path %>

